@import "partials/utils";
@import "partials/fonts";
@import "partials/buttons";


/*===== STRUCTURE =======*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
body{
  position: relative;
  background: #fff;
  color: $text-color;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.43;
  margin: 0;
  font-family: 'Arial', 'Verdana', sans-serif;
  width: 100%;
  height: 100%;
}

img{
  width: 100%;
  height: auto;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  width: 100%;
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrap{
  padding: 110px 0;
}
.text-center{
  text-align: center;
}

/*===== HEADER =======*/
.header{
  display: block;
  width: 100%;
  background-color: $white;
  height: 120px;
  @include respond-to('tablet'){
    height: 50px;
  }
}

.header-icon{
  display: none;
  border: 0;
  background: transparent;
  line-height: 50px;
  position: absolute;
  left: 25px;
  padding: 0;
  @include respond-to('tablet'){
    display: inline-block;
  }
}

.header-logo{
  display: inline-block;
  height: 120px;
  width: auto;
  line-height: 120px;
  margin-left: 50px;
  @include respond-to('tablet'){
    width: 122px;
    height: auto;
    margin: 0 auto;
    line-height: 50px;
    display: block;
  }
}

.navbar{
  float: right;
  margin-right: 25px;
  @include respond-to('tablet'){
    display: none;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li{
    display: inline-block;
    vertical-align: middle;
    line-height: 120px;
    padding: 0 25px;
  }
  .navbar-link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    color: $color-base;
    font-family: $font-regular-600;
    letter-spacing: 3px;
  }
}

/* == TEXT ==*/
.text-wrapper{
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  display: block;
}
.container-lead{
  color: $title-lead-color;
  font-size: 1.1rem;
  font-family: $font-title;
  font-weight: normal;
  line-height: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  display: block;
}
.container-title{
  color: $title-color;
  font-size: 5.2rem;
  font-family: $font-title;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 27px 0;
  display: block;
  @include respond-to('tablet'){
    font-size: 3.6rem;
  }

}
.container-description{
  color: $text-color;
  font-size: 1.6rem;
  font-family: $font-text;
  line-height: 2.2rem;
  margin: 0 0 40px 0;
  display: block;
  opacity: 0.7;
}

/* === CONTAINERS === */
.container-top{
  position: relative;
  height: 600px;
  overflow: hidden;
  background: url('../images/background1.png');
  background-repeat: no-repeat;
  background-position: center;
  @include respond-to('tablet'){
    overflow: visible;
  }
}
.container-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  .container-title,
  .container-description{
    color: $white;
    width: 60%;
    opacity: 1;
    @include respond-to('mobile'){
      width: 100%;
    }
  }
  @include respond-to('mobile'){
    top: auto;
    bottom: -20px;
    transform: none;
    padding-right: 15px;
  }
}
 /* === LISTS ===*/
 .list-icons{
   margin-top: 115px;
   margin-bottom: 65px;
   font-size: 0;
   @include respond-to('mobile'){
     margin-top: 100px;
     margin-bottom: 0;
   }
   .list-item{
     width: 33%;
     display: inline-block;
     vertical-align: top;
     padding: 0 45px;
     @include respond-to('mobile'){
       width: 100%;
       padding: 0 30px;
       margin-bottom: 60px;
     }
   }
   @include respond-to('not-mobile'){
     .list-item:first-child{
       padding-left: 0;
     }
     .list-item:last-child{
       padding-right: 0;
     }
   }
   .list-item-image{
     width: 60px;
     height: 60px;
     display: block;
     margin: 0 auto 25px auto;
   }
   .list-title{
     color: $list-lead;
     font-size: 1.1rem;
     font-family: $font-title;
     font-weight: normal;
     line-height: 1.4rem;
     text-transform: uppercase;
     letter-spacing: 2px;
     text-align: center;
     margin: 0 0 27px 0;
     display: block;
   }
   @include respond-to('mobile'){
     .container-description{
       text-align: center;
     }
   }
 }

 .list-cards{
   text-align: center;
   margin-top: 100px;
   @include respond-to('mobile'){
     margin-top: 70px;
   }
   .list-card{
     display: inline-block;
     vertical-align: top;
     padding: 0 10px;
     text-align: center;
     width: 33%;
     @include respond-to('mobile'){
       width: 100%;
     }
   }
   @include respond-to('not-mobile'){
     .list-card:first-child{
       padding-left: 0;
     }
     .list-card:last-child{
       padding-right: 0;
     }
   }

   .card{
     background: $white;
     border-radius: 4px;
     padding: 35px 35px 45px 35px;
     box-shadow: none;
     -webkit-transition: all 0.3s ease-in;
     transition: all 0.3s ease-in;
     &:hover{
       box-shadow: 0 5px 20px 0 rgba(186,186,186,0.52);
     }
   }
   img{
     width: 150px;
     height: 150px;
     display: block;
     margin: 0 auto 18px auto;
   }
   p{
     font-family: $font-text;
     font-size: 1.4rem;
     line-height: 1.9rem;
     color: $card-text;
     display: block;
     margin-bottom: 40px;
   }
   .card-title{
     display: block;
     color: $list-lead;
     font-family: $font-regular-600;
     font-size: 1.1rem;
     text-transform: uppercase;
     margin-bottom: 8px;
   }
   .card-info{
     display: block;
     color: $card-text;
     font-family: $font-text;
     font-size: 1.2rem;
     line-height: 1.6rem;
   }
 }

 /*=== BACKGROUNDS ===*/
 .mod-background-grey{
   background: url('../images/background-grey.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   position: relative;
   min-height: 700px;

   .text-wrapper{
     max-width: 45%;
     margin: 0;
     text-align: left;
     display: inline-block;
     @include respond-to('mobile'){
       max-width: 100%;
       padding-top: 320px;
     }
     img{
       width: 185px;
       height: auto;
       display: inline-block;
       vertical-align: middle;
       margin-left: 15px;
       @include respond-to('mobile'){
         margin-left: 0;
         margin-top: 5px;
         display: block;
       }
     }
   }
   .container-description.inline{
     display: inline-block;
     vertical-align: middle;
     margin-bottom: 0;
   }
   button{
     margin-bottom: 65px;
   }

 }
 .img-right{
   display: inline-block;
   position: absolute;
   right: 0;
   width: 55%;
   @include respond-to('mobile'){
     width: auto;
     height: 300px;
     top: 120px;
   }
 }

 .mod-grey{
   background-color: $mod-grey;
   @include respond-to('tablet'){
     background-color: $white;
   }
 }

 /* === FOOTER ====*/
 footer{
   display: block;
   padding: 50px 0;
   background-color: $white;
   box-shadow: inset 0 1px 0 0 #EEEEEE;
   @include respond-to('tablet'){
     background-color: $mod-grey;
   }
   .container{
     font-size: 0;
   }
   img{
     display: block;
     width: 130px;
     height: auto;
     margin-bottom: 23px;
     @include respond-to('tablet'){
       margin: 0 auto;
     }
   }
   p{
     font-family: $font-regular;
     font-size: 1.2rem;
     color: $text-footer;
     strong{
       display: block;
       color: $text-color;
     }
   }
   .container-left{
     width: 65%;
     display: inline-block;
     vertical-align: top;
     .copyright,
     nav{
       display: none;
       float: none;
       @include respond-to('tablet'){
         display: block;
       }
     }
     nav{
       border-top: none;
       margin: 20px 0 0 0;
       padding-left: 0;
       li{
         border-right: 1px solid $text-footer;
       }
       a{
         text-decoration: none;
         font-family: $font-regular;
         color: $text-footer;
         font-size: 1.2rem;
         line-height: 1;
         text-transform: uppercase;
       }
     }
     @include respond-to('tablet'){
       width: 100%;
     }
   }
   .container-right{
     width: 35%;
     display: inline-block;
     vertical-align: top;
     padding-left: 100px;
     @include respond-to('tablet'){
       display: none;
     }
   }

   .contact-title{
     font-family: $font-regular;
     font-size: 1.8rem;
     color: $text-color;
   }
   nav{
    display: block;
    border-top: 1px solid $text-footer;
    margin: 20px -15px 0 -15px;
    padding: 15px;
    @include respond-to('mobile'){
      display: none;
    }
    ul{
      display: inline-block;
    }
    li{
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
      border-right: 1px solid $text-color;
    }
    a{
      text-decoration: none;
      font-family: $font-regular;
      color: $text-color;
      font-size: 1.2rem;
      line-height: 1;
    }
    li:first-child{
      padding-left: 0;
    }
    li:last-child{
      border-right: 0;
    }
   }
   .copyright{
     font-family: $font-regular;
     font-size: 1.2rem;
     color: $text-footer;
     line-height: 1;
     float: right;
   }
 }

 /* === SLIDER ===*/
 /* Arrows */
 .slick-prev,
 .slick-next {
     position: absolute;
     display: block;
     height: 20px;
     width: 20px;
     line-height: 0px;
     font-size: 0px;
     cursor: pointer;
     background: transparent;
     color: transparent;
     top: 50%;
     -webkit-transform: translate(0, -50%);
     -ms-transform: translate(0, -50%);
     transform: translate(0, -50%);
     padding: 0;
     border: none;
     outline: none;
     &:hover, &:focus {
         outline: none;
         background: transparent;
         color: transparent;
         &:before {
             opacity: 1;
         }
     }
     &.slick-disabled:before {
         opacity: 0.7;
     }
     &:before {
         font-family: $font-text;
         font-size: 20px;
         line-height: 1;
         color: $text-color;
         opacity: 1;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
     }
 }

 .slick-prev {
     left: -45px;
     background: url('../images/arrow-grey.svg');
     background-size: 20px;
     background-position: center;
     background-repeat: no-repeat;
     transform: rotate(90deg);
     [dir="rtl"] & {
         left: auto;
         right: -25px;
     }
 }

 .slick-next {
     right: -25px;
     background: url('../images/arrow-grey.svg');
     background-size: 20px;
     background-position: center;
     background-repeat: no-repeat;
     transform: rotate(-90deg);
     [dir="rtl"] & {
         left: -25px;
         right: auto;
     }
 }

 /*=== OTHERS ====*/
 .arrow-down{
   width: 43px;
   height: 43px;
   position: absolute;
   bottom: 45px;
   left: 50%;
   transform: translateX(-50%);
   @include respond-to('mobile'){
     display: none;
   }
 }
