/* === FONTS ===*/
/* === COLORS ==== */
/* === BREAKPOINTS === */
@font-face {
  font-family: 'Montserrat_regular';
  src: url("fonts/Montserrat_regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat_600';
  src: url("fonts/Montserrat_600.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat_900';
  src: url("fonts/Montserrat_900.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PT_Serif';
  src: url("fonts/PT_Serif_regular.ttf");
  font-weight: normal;
  font-style: normal; }
.btn {
  display: inline-block;
  background-color: #00B2CB;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Montserrat_600";
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  height: 45px;
  width: auto;
  min-width: 140px;
  line-height: 45px;
  padding: 0 25px;
  border-radius: 25px;
  border: 0; }
  @media (max-width: 767px) {
    .btn {
      width: 100%;
      min-width: 100%; } }
  .btn.btn--large {
    min-width: 320px; }
    @media (max-width: 767px) {
      .btn.btn--large {
        width: 100%;
        min-width: 100%; } }
  .btn.btn--x-large {
    min-width: 400px; }
    @media (max-width: 767px) {
      .btn.btn--x-large {
        width: 100%;
        min-width: 100%; } }

/*===== STRUCTURE =======*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  position: relative;
  background: #fff;
  color: #333B3D;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.43;
  margin: 0;
  font-family: 'Arial', 'Verdana', sans-serif;
  width: 100%;
  height: 100%; }

img {
  width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 100%;
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto; }

.wrap {
  padding: 110px 0; }

.text-center {
  text-align: center; }

/*===== HEADER =======*/
.header {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 120px; }
  @media (max-width: 1024px) {
    .header {
      height: 50px; } }

.header-icon {
  display: none;
  border: 0;
  background: transparent;
  line-height: 50px;
  position: absolute;
  left: 25px;
  padding: 0; }
  @media (max-width: 1024px) {
    .header-icon {
      display: inline-block; } }

.header-logo {
  display: inline-block;
  height: 120px;
  width: auto;
  line-height: 120px;
  margin-left: 50px; }
  @media (max-width: 1024px) {
    .header-logo {
      width: 122px;
      height: auto;
      margin: 0 auto;
      line-height: 50px;
      display: block; } }

.navbar {
  float: right;
  margin-right: 25px; }
  @media (max-width: 1024px) {
    .navbar {
      display: none; } }
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .navbar li {
    display: inline-block;
    vertical-align: middle;
    line-height: 120px;
    padding: 0 25px; }
  .navbar .navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    color: #00B2CB;
    font-family: "Montserrat_600";
    letter-spacing: 3px; }

/* == TEXT ==*/
.text-wrapper {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  display: block; }

.container-lead {
  color: #3B3D40;
  font-size: 1.1rem;
  font-family: "Montserrat_900";
  font-weight: normal;
  line-height: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  display: block; }

.container-title {
  color: #333B3D;
  font-size: 5.2rem;
  font-family: "Montserrat_900";
  font-weight: normal;
  line-height: 1;
  margin: 0 0 27px 0;
  display: block; }
  @media (max-width: 1024px) {
    .container-title {
      font-size: 3.6rem; } }

.container-description {
  color: #333B3D;
  font-size: 1.6rem;
  font-family: "PT_Serif";
  line-height: 2.2rem;
  margin: 0 0 40px 0;
  display: block;
  opacity: 0.7; }

/* === CONTAINERS === */
.container-top {
  position: relative;
  height: 600px;
  overflow: hidden;
  background: url("../images/background1.png");
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 1024px) {
    .container-top {
      overflow: visible; } }

.container-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .container-caption .container-title,
  .container-caption .container-description {
    color: #fff;
    width: 60%;
    opacity: 1; }
    @media (max-width: 767px) {
      .container-caption .container-title,
      .container-caption .container-description {
        width: 100%; } }
  @media (max-width: 767px) {
    .container-caption {
      top: auto;
      bottom: -20px;
      transform: none;
      padding-right: 15px; } }

/* === LISTS ===*/
.list-icons {
  margin-top: 115px;
  margin-bottom: 65px;
  font-size: 0; }
  @media (max-width: 767px) {
    .list-icons {
      margin-top: 100px;
      margin-bottom: 0; } }
  .list-icons .list-item {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 0 45px; }
    @media (max-width: 767px) {
      .list-icons .list-item {
        width: 100%;
        padding: 0 30px;
        margin-bottom: 60px; } }
  @media (min-width: 1025px) {
    .list-icons .list-item:first-child {
      padding-left: 0; }
    .list-icons .list-item:last-child {
      padding-right: 0; } }
  .list-icons .list-item-image {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 25px auto; }
  .list-icons .list-title {
    color: #3C3D41;
    font-size: 1.1rem;
    font-family: "Montserrat_900";
    font-weight: normal;
    line-height: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0 27px 0;
    display: block; }
  @media (max-width: 767px) {
    .list-icons .container-description {
      text-align: center; } }

.list-cards {
  text-align: center;
  margin-top: 100px; }
  @media (max-width: 767px) {
    .list-cards {
      margin-top: 70px; } }
  .list-cards .list-card {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    text-align: center;
    width: 33%; }
    @media (max-width: 767px) {
      .list-cards .list-card {
        width: 100%; } }
  @media (min-width: 1025px) {
    .list-cards .list-card:first-child {
      padding-left: 0; }
    .list-cards .list-card:last-child {
      padding-right: 0; } }
  .list-cards .card {
    background: #fff;
    border-radius: 4px;
    padding: 35px 35px 45px 35px;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .list-cards .card:hover {
      box-shadow: 0 5px 20px 0 rgba(186, 186, 186, 0.52); }
  .list-cards img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 18px auto; }
  .list-cards p {
    font-family: "PT_Serif";
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #656B6F;
    display: block;
    margin-bottom: 40px; }
  .list-cards .card-title {
    display: block;
    color: #3C3D41;
    font-family: "Montserrat_600";
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .list-cards .card-info {
    display: block;
    color: #656B6F;
    font-family: "PT_Serif";
    font-size: 1.2rem;
    line-height: 1.6rem; }

/*=== BACKGROUNDS ===*/
.mod-background-grey {
  background: url("../images/background-grey.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 700px; }
  .mod-background-grey .text-wrapper {
    max-width: 45%;
    margin: 0;
    text-align: left;
    display: inline-block; }
    @media (max-width: 767px) {
      .mod-background-grey .text-wrapper {
        max-width: 100%;
        padding-top: 320px; } }
    .mod-background-grey .text-wrapper img {
      width: 185px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px; }
      @media (max-width: 767px) {
        .mod-background-grey .text-wrapper img {
          margin-left: 0;
          margin-top: 5px;
          display: block; } }
  .mod-background-grey .container-description.inline {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0; }
  .mod-background-grey button {
    margin-bottom: 65px; }

.img-right {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 55%; }
  @media (max-width: 767px) {
    .img-right {
      width: auto;
      height: 300px;
      top: 120px; } }

.mod-grey {
  background-color: #F9F9F9; }
  @media (max-width: 1024px) {
    .mod-grey {
      background-color: #fff; } }

/* === FOOTER ====*/
footer {
  display: block;
  padding: 50px 0;
  background-color: #fff;
  box-shadow: inset 0 1px 0 0 #EEEEEE; }
  @media (max-width: 1024px) {
    footer {
      background-color: #F9F9F9; } }
  footer .container {
    font-size: 0; }
  footer img {
    display: block;
    width: 130px;
    height: auto;
    margin-bottom: 23px; }
    @media (max-width: 1024px) {
      footer img {
        margin: 0 auto; } }
  footer p {
    font-family: "Montserrat_regular";
    font-size: 1.2rem;
    color: #999999; }
    footer p strong {
      display: block;
      color: #333B3D; }
  footer .container-left {
    width: 65%;
    display: inline-block;
    vertical-align: top; }
    footer .container-left .copyright,
    footer .container-left nav {
      display: none;
      float: none; }
      @media (max-width: 1024px) {
        footer .container-left .copyright,
        footer .container-left nav {
          display: block; } }
    footer .container-left nav {
      border-top: none;
      margin: 20px 0 0 0;
      padding-left: 0; }
      footer .container-left nav li {
        border-right: 1px solid #999999; }
      footer .container-left nav a {
        text-decoration: none;
        font-family: "Montserrat_regular";
        color: #999999;
        font-size: 1.2rem;
        line-height: 1;
        text-transform: uppercase; }
    @media (max-width: 1024px) {
      footer .container-left {
        width: 100%; } }
  footer .container-right {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding-left: 100px; }
    @media (max-width: 1024px) {
      footer .container-right {
        display: none; } }
  footer .contact-title {
    font-family: "Montserrat_regular";
    font-size: 1.8rem;
    color: #333B3D; }
  footer nav {
    display: block;
    border-top: 1px solid #999999;
    margin: 20px -15px 0 -15px;
    padding: 15px; }
    @media (max-width: 767px) {
      footer nav {
        display: none; } }
    footer nav ul {
      display: inline-block; }
    footer nav li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
      border-right: 1px solid #333B3D; }
    footer nav a {
      text-decoration: none;
      font-family: "Montserrat_regular";
      color: #333B3D;
      font-size: 1.2rem;
      line-height: 1; }
    footer nav li:first-child {
      padding-left: 0; }
    footer nav li:last-child {
      border-right: 0; }
  footer .copyright {
    font-family: "Montserrat_regular";
    font-size: 1.2rem;
    color: #999999;
    line-height: 1;
    float: right; }

/* === SLIDER ===*/
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.7; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "PT_Serif";
    font-size: 20px;
    line-height: 1;
    color: #333B3D;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -45px;
  background: url("../images/arrow-grey.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg); }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }

.slick-next {
  right: -25px;
  background: url("../images/arrow-grey.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-90deg); }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }

/*=== OTHERS ====*/
.arrow-down {
  width: 43px;
  height: 43px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%); }
  @media (max-width: 767px) {
    .arrow-down {
      display: none; } }

/*# sourceMappingURL=styles.css.map */
