.btn{
  display: inline-block;
  background-color: $color-base;
  color: $white;
  font-size: 1.1rem;
  font-family: $font-regular-600;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  height: 45px;
  width: auto;
  min-width: 140px;
  line-height: 45px;
  padding: 0 25px;
  border-radius: 25px;
  border: 0;
  @include respond-to('mobile'){
    width: 100%;
    min-width: 100%;
  }
  &.btn--large{
    min-width: 320px;
    @include respond-to('mobile'){
      width: 100%;
      min-width: 100%;
    }
  }
  &.btn--x-large{
    min-width: 400px;
    @include respond-to('mobile'){
      width: 100%;
      min-width: 100%;
    }
  }
}
