@font-face {
    font-family: 'Montserrat_regular';
    src: url('fonts/Montserrat_regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat_600';
    src: url('fonts/Montserrat_600.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat_900';
    src: url('fonts/Montserrat_900.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('fonts/PT_Serif_regular.ttf');
    font-weight: normal;
    font-style: normal;
}
