/* === FONTS ===*/
$font-title: 'Montserrat_900';
$font-regular: 'Montserrat_regular';
$font-regular-600: 'Montserrat_600';
$font-text: 'PT_Serif';

/* === COLORS ==== */
$white: #fff;
$title-color: #333B3D;
$title-lead-color: #3B3D40;

$text-color: #333B3D;
$text-footer: #999999;
$list-lead: #3C3D41;
$color-base: #00B2CB;
$mod-grey: #F9F9F9;
$card-text: #656B6F;

/* === BREAKPOINTS === */
$breakpoints: ( 'small-mobile': (max-width: 480px), 'mobile': (max-width: 767px), 'tablet': (max-width: 1024px), 'desktop': (max-width: 1280px), 'not-mobile': (min-width: 1025px));

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
    }
}
